#version=DEVE

#Firewall configuration
firewall --disabled

# Install OS instead of upgrade install
install 

# Use FTP installation media
url --url="ftp://192.168.36.10/pub/"

# Root password
rootpw --iscrypted $1$SfkQLFD2$vxowyEii82BPkF2N8buHN1

#Users to be added on BOOT
user --name=ansible --password=password

# System authorization information
auth useshadow passalgo=sha512

# Use graphical install graphical
firstboot disable

#System keyboard
keyboard us

#System language
lang en_US

#SELinux configuration
selinux disabled

#Installation logging level
logging level=info

#System timezone 
timezone "America/New_York"

#System bootloader configuration
bootloader location=mbr
clearpart --all --initlabel
autopart --type=lvm

#System Services
services --enabled="chronyd"

#Packages to install
%packages
@^minimal
@core
chrony
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'
%end

